@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Roboto);

body {
	position: relative;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	width: 1000px;
	margin: 0 auto;
	padding: 10px;
	color: #333;
	background-color: #ecf0f1;
}

.clear {
	clear: both;
	width: 100%;
}

.login-area {
	font-size: 13px;
	font-family: Helvetica, Arial, sans-serif;
	color: gray;
	position: absolute;
	top: 10px;
	right: 10px;
}

.login-link {
	color: gray;
	text-decoration: none;
}

.login-link:visited {
	color: gray;
}

.login-link:hover {
	text-decoration: underline;
}

h2 {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 5px;
}

.error {
	color: red;
	font-family: Helvetica, Arial, sans-serif;
}

textarea {
	width: 700px;
	height: 500px;
	padding: 2px;
	font-family: Helvetica, Arial, sans-serif;
}

.main-title {
	display: block;
	color: #222;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 30px;
	text-decoration: none;
}

.post + .post {
	margin-top: 50px;
}

.post-heading {
	position: relative;
	border-bottom: 3px solid #666
}

.post-title {
	font-size: 24px;
	font-weight: bold;
}

.post-date {
	position: absolute;
	right: 0px;
	bottom: 0px;
	color: #999;
}

.post-content {
	margin-top: 5px;
}

/*
 * Edit Page Stuff
 */

.edit {
	width: 700px;
	height: 500px;
	padding: 25px;
	margin: 50px auto;
}

/*
 * Login Page Stuff
 */
label {
	display: block;
	font-size: 24px;
	font-family: Roboto, serif;
	color: #fff;
}

label + label {
	margin-top: 20px;
}

.login {
	width: 350px;
	height: 370px;
	padding: 25px;
	margin: 50px auto;
	background-color: #2c3e50;
}

.clear {
	clear: both;
	width: 100%;
}

#login-username, #login-password, #login-button {
	width: calc(100% - 33px);
	margin: 10px 0 10px 0;
	font-size: 20px;
	padding: 15px;
	border: solid 1px #ccc;
	background-color: #ecf0f1;
	font-family: Roboto;
	float: left;
}

#login-button{
	position: relative;
	width: calc(103% - 13px);
	background-color: #3498db;
	border: none;
	color: #FFF;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	-webkit-box-shadow: 0px 9px 0px #2980b9;
	-mox-box-shadow: 0px 9px 0px #2980b9;
	box-shadow: 0px 9px 0px #2980b9;
	float: left;
}

#login-button:active {
	-webkit-transition: all 0.1s;
	-mox-transition: all 0.1s;
	transition: all 0.1s;
	position: relative;
	top: 7px;
	-webkit-box-shadow: 0px 2px 0px #16a085;
	-moz-box-shadow: 0px 2px 0px #16a085;
	box-shadow: 0px 2px 0px #16a085;
}

/* 
Signup Page Stuff
*/
.signup {
	width: 350px;
	height: 520px;
	padding: 25px;
	margin: 50px auto;
	background-color: #2c3e50;
}

#signup-username, #signup-password, #signup-verify, #signup-email, #signup-button {
	width: calc(100% - 33px);
	margin: 10px 0 10px 0;
	font-size: 20px;
	padding: 15px;
	border: solid 1px #ccc;
	background-color: #ecf0f1;
	font-family: Roboto;
	float: left;
}

#signup-button {
	position: relative;
	width: calc(103% - 13px);
	background-color: #3498db;
	border: none;
	color: #FFF;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
	-webkit-box-shadow: 0px 9px 0px #2980b9;
	-mox-box-shadow: 0px 9px 0px #2980b9;
	box-shadow: 0px 9px 0px #2980b9;
	float: left;
}

#signup-button:active {
	-webkit-transition: all 0.1s;
	-mox-transition: all 0.1s;
	transition: all 0.1s;
	position: relative;
	top: 7px;
	-webkit-box-shadow: 0px 2px 0px #16a085;
	-moz-box-shadow: 0px 2px 0px #16a085;
	box-shadow: 0px 2px 0px #16a085;
}

